<?xml version="1.0" ?>

<launch>    
    <arg name="use_present" default="true" />
    
    <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find alice_2_description)/urdf/alice_2_robot.xacro'" />
    
    <!-- send joint values -->
    <node name="heroehs_joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    	<param name="use_gui" value="FALSE"/>
        <param name="rate" value="30"/>
        <remap from="/joint_states" to="/heroehs/alice_soccer/joint_states" />
        <rosparam param="source_list" if="$(arg use_present)">["/robotis/present_joint_states"]</rosparam>
        <rosparam param="source_list" unless="$(arg use_present)">["/robotis/goal_joint_states"]</rosparam>
    </node>

    <!-- Combine joint values to TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <remap from="/joint_states" to="/heroehs/alice_soccer/joint_states"/>
    </node>
   <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find alice_2_description)/launch/alice_soccer.rviz" output="screen"/>-->
</launch>
